*

# Meta configurations
!/.gitignore
!/.prettierignore
!/.eslintignore
!/.editorconfig

# Node and TypeScript configurations
!/package.json
!/yarn.lock
!/.eslintrc.js
!/babel.config.js
!/jest.config.js
!/tsconfig.json

# Development environment
!/.devcontainer/
!/.devcontainer/Dockerfile
!/.devcontainer/*.json
!/.vscode/
!/.vscode/*.json

# Documentations
!/CODE_OF_CONDUCT.md
!/CONTRIBUTING.md
!/README.md
!/CHANGELOG.md
!/LICENSE

# Application sources
!/src
!/src/**/
!/src/**/*.ts
!/src/**/*.tsx
!/src/**/*.html

# Tests
!/tests/
!/tests/**/
!/tests/**/*.ts
