<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">

<!--
Element providing solution to integrate reCaptcha in your page

More on reCaptcha Api: https://developers.google.com/recaptcha/docs/start

##### Example

  <re-captcha sitekey="yoursitekey"></re-captcha>

@element re-captcha
@blurb Element providing solution to integrate reCaptcha in your page.
@status alpha
@homepage https://github.com/cbalit/re-captcha
-->
<polymer-element name="re-captcha" attributes="sitekey theme type timeout">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <content></content>
  </template>

  <script>
    (function () {
      'use strict';
      var SCRIPT_LOADED=false;
      Polymer({
        API_URL:'https://www.google.com/recaptcha/api.js',
        RETRY_DELAY:200,
        delay:0,
        containerId:'',
        /**
         * The `timeout` attribute specify the total time (in milliseconds) to wait for API loading
         *
         * @attribute timeout
         * @type number
         * @default 3000
         */
        timeout:3000,
        captchaId:'',
        /**
         * The `sitekey` is the one provide on registration (https://developers.google.com/recaptcha/docs/start)
         *
         * @attribute sitekey
         * @type string
         * @required
         * @default ''
         */
        sitekey:'',
        /**
         * The `theme` color theme of the widget (dark or light)
         *
         * @attribute theme
         * @type string
         * @default 'light'
         */
        theme:'light',
        /**
         * The `type` The type of reCaptcha to serve. (image or audio)
         *
         * @attribute type
         * @type string
         * @default 'image'
         */
        type:'image',
        /**
         * The `response` The response from the reCaptcha API
         *
         * @attribute response
         * @type string
         * @default ''
         */
        response:null,
        generateScriptApiTag:function () {
          var head= document.getElementsByTagName('head')[0];
          var script= document.createElement('script');
          script.setAttribute('async','');
          script.setAttribute('defer','');
          script.setAttribute('type','text/javascript');
          script.setAttribute('src',this.API_URL);
          head.appendChild(script);
          SCRIPT_LOADED=true;
        },
        generateContainer:function () {
          var div = document.createElement('div');
          this.containerId=this.guidGenerator();
          div.setAttribute('id',this.containerId);
          this.appendChild(div);
        },
        guidGenerator:function () {
          var S4 = function() {
            return (((1+Math.random())*0x10000)|0).toString(16).substring(1);
          };
          return (S4()+S4()+"-"+S4()+"-"+S4()+"-"+S4()+"-"+S4()+S4()+S4());
        },
        ready: function () {
          if(this.sitekey===''){
            throw new Error("sitekey attribute is mandatory for re-captcha element");
            return;
          }
          if(!SCRIPT_LOADED){
            this.generateScriptApiTag();
          }
          this.generateContainer();
          this.renderWhenApiReady();
        },
        renderWhenApiReady: function () {
          if(!window.grecaptcha){
            //Check if we can try again according to timeout
            if(this.delay< this.timeout){
              this.async(function() {
                this.renderWhenApiReady()
              }, null, this.RETRY_DELAY);
              //increment delay to check timeout
              this.delay+=this.RETRY_DELAY;
            }
            else{
              //We reach the timeout value
            }
          }
          else{
            this.render();
          }
        },
        /**
         * The `captcha-rendered` event is fired whenever the captcha widget is rendered.
         *
         * @event captcha-rendered
         */
        /**
         * The `render` method renders the container as a reCaptcha widget and store the ID of the newly created widget.
         *
         * @method render
         */
        render: function () {
          var _this=this;
          //Render call
          this.captchaId=window.grecaptcha.render(this.containerId, {
            sitekey : this.sitekey,
            theme:this.theme,
            type:this.type,
            callback: function(response){
              _this.responseHandler(response)
            }
          });
          this.fire('captcha-rendered',null);
        },
        /**
         * The `reset` method resets the reCaptcha widget.
         *
         * @method reset
         */
        reset: function () {
          window.grecaptcha.reset(this.captchaId);
        },
        /**
         * The `getResponse` method gets the response for the reCaptcha widget.
         *
         * @method getResponse
         * @return {String} Returns the response.
         */
        getResponse:function(){
          var resp=window.grecaptcha.getResponse(this.captchaId);
          return resp;
        },
        /**
         * The `captcha-response` event is fired whenever we
         * get the response from the reCaptcha API.
         *
         * @event captcha-response
         * @param {Object} detail
         *   @param {string} detail.response The response
         */

        /**
         * The `responseHandler` method will store the response and fire the captcha-response. At least
         * it will dispatch a captcha-response event with the response
         *
         *  @method responseHandler
         *  @param {String} response response to store
         */
        responseHandler: function (response) {
          this.response=response;
          this.fire('captcha-response',{response:response});
        }
      });

    })();
  </script>
</polymer-element>
